#students {
  display: none;
}

#StudentsForm  {
  display: none;
}

#CoursesForm  {
  display: none;
}

#GradesForm  {
  display: none;
}

#courses {
  display: none;
}

#grades {
  display: none;

}