body {
  margin: 0;
  padding: 0;
  
}

#slide {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#header {
  padding: 10px 0;
  margin-bottom: 30px;
  text-align: center;
  background-color: darkmagenta;
  width: 100%;
}

input {
  text-align: center;
  width: 30px;
  color: darkmagenta; 
  font-weight: bold;
}

label {
  text-align: center;
}

#slider-horR {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#slider-horG {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#slider-horB {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}