body {
  margin: 0;
  padding: 0;
  
}

#slide {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#header {
  padding: 10px 0;
  margin-bottom: 30px;
  text-align: center;
  background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  width: 100%;
}

h1{
    color : white;
    font-family: 'Turret Road', cursive;
    font-size: 35px;
  }

input {
  text-align: center;
  width: 30px;
  color: darkmagenta; 
  font-weight: bold;
}

label {
  text-align: center;
}

.sliders {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.play{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 60px;
  font-size: 1.1em;
  margin-left: 40%;
  margin-right: 40%;
}
#get{
  width: 30%;
  height: 60px;
  font-size: 1.1em;
  margin-right: 5%;
  float: left;
  display: block;
  
}
#reset{
  width: 30%;
  height: 60px;
  font-size: 1.1em;
  margin-right: 5%;
  float: right;
}
#guess{
  width: 30%;
  height: 60px;
  font-size: 1.1em;
  margin-right: 5%;
  float: left;
  display: none;
  
}
#color{
  border-style: solid;
  border-width: 1%;
  background: linear-gradient(45deg,#e66465, #9198e5);/*Default color here: will be great if it's gradient*/
  width: 420px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 40px;
}
#colour{
  text-align: center;
  display: block;
  padding-top: 17.5%;
  font-size: 1.5em;
  font-family: Georgia,serif;
}
