body {
  margin: 0;
  padding: 0;
  
}

#slide {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#header {
  padding: 10px 0;
  margin-bottom: 30px;
  text-align: center;
  background-color: darkmagenta;
  width: 100%;
}

input {
  text-align: center;
  width: 30px;
  color: darkmagenta; 
  font-weight: bold;
}

label {
  text-align: center;
}

.sliders {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
/*
#slider-horR {}
#slider-horG {}
#slider-horB {}
*/
.play{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 60px;
  font-size: 1.1em;
  margin-left: 40%;
  margin-right: 40%;
}
#get{
  width: 30%;
  height: 60px;
  font-size: 1.1em;
  
}
#reset{
  width: 30%;
  height: 60px;
  font-size: 1.1em;
  margin-left: 5%;
  margin-right: 5%;
  float: right;
}
#guess{
  width: 30%;
  height: 60px;
  font-size: 1.1em;
  float: right;
}
#color{
  border-style: solid;
  border-width: 1%;
  background: rgb(255,255,255);/*Default color here: will be great if it's gradient*/
  width: 420px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 40px;
}
#colour{
  text-align: center;
  display: block;
  padding-top: 17.5%;
  font-size: 1.5em;
  font-family: Georgia,serif;
}