*{
    cursor:url(favicon.ico),auto;
}

html, body{
    width: 100%;
    height: 165%;
    background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.navs{
    list-style: none;
}

.navs li{
    display: inline-block;
    padding: 23px 130px;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    font-size: 46px;
    color: white;
    
}

.navs li a{
    transition: all 0.3s ease 0s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration: none;
    color: white;
}


.button{
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    background: linear-gradient(60deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    width: 330px;
    height: 110px;
    margin: 700px, 0, 0, 200px;
    line-height: 90px;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 50px;
    /*z-index: -1;*/
}
.button::before{
    content:"";
    /*position: absolute;*/
    left:-5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: linear-gradient(60deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 50px;
    filter:blur(20px);
    z-index: -1;
}

.button a{
  text-decoration: none;
  color:white;
}

.button:hover::before{
    animation: func 8s infinite;
}
.button:hover{
    animation: func 8s infinite;
}

@keyframes func{
    100%{
        background-position: -400% 0;
    }
}

#cyan{
    width: 20px;
    height: 23px;
    margin-left: 5px;
    display: none;
    float: right;
    margin: 25px 0 0 5px;
}

#navimg{
    width: 155px;
    height: 130px;
    right: 55px;
    float: right;
    padding: 0 0 0 25px;
}

.dropdown .dropbutton{
    font-size: 20px;
    border: none;
    outline: none;
    padding: 14px 16px;
   
    margin: 0;
    background-color: inherit;
    color:white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.sign_op{
    display:none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.sign_op a{
    float:none;
    color:white;
    padding:12px 16px;
    display:block;
    text-align: left;
}

.dropdown:hover .sign_op {
    display: block;
}

.wave{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 208px;
    width: 200%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.buttom_1{
    opacity: 0.3;
    z-index: 15;
}

.buttom_2{
    opacity: 0.6;
    z-index: 10;
}

.buttom_3{
    z-index: 5;
    opacity: 0.8;
}

.wave_1{
    background-image: url(1.png);
    -webkit-backgroud-size: 50% 80px;
    background-size: 50% 80px;
}
.wave_2{
    background-image: url(2.png);
    -webkit-backgroud-size: 60% 100px;
    background-size: 50% 100px;
    animation: move_wave 12s linear infinite;
}
.wave_3{
    background-image: url(3.png);
    -webkit-backgroud-size: 50% 80px;
    background-size: 50% 80px;
    animation: move_wave 18s linear infinite;
}

@keyframes move_wave{
    0%{
        transform: translateX(0) translateZ(0) scaleY(1) ;
    }
    50%{
        transform: translateX(-25%) translateZ(0) scaleY(0.5) ;
    }
    100%{
        transform: translateX(-50%) translateZ(0) scaleY(1) ;
    }
}


/* css for main.html */
.slog {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    margin: 90px 0px 50px 0;
    color: lightblue;
}

.search {
    background-color: white;
    border-radius: 10px 10px 0 10px;
    text-align: center;
}

.gameSearch {
    width: 75%;
    padding: 11.25px 0 11.25px 20px;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

#submit {
    width: 15%;
    padding: 11.25px 0px;
    margin-left:-6px;
    font-size: 30px;
    border-radius: 0 10px 0 0;
    border: none;
    border-bottom: 1px solid black;
}

#submit:hover {
    color: white;
}

#as {
    display: none;
    text-align: left;
}

#asbutton {
    width: 10%;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
    height: 67px;
    padding: 5px;
    background-color: rgb(255, 182, 230);
    text-shadow: 2px 2px white;
    float: left;
}

#asbutton:hover {
    background-color: lightpink;
}

h2 {
    text-align: left;
}

.platform {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 3px solid grey;
    background-color: rgb(56, 104, 172);
    color: white;
    height: 450px;
}

.genre {
    border-top: 1px solid black;
    border-right: 3px solid gray;
    background-color: rgb(56, 104, 172);
    color: white;
    height: 450px;
}

.mode {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid grey;
    background-color: rgb(56, 104, 172);
    color: white;
    height: 200px;
}

.region {
    border-top: 1px solid black;
    border-right: 3px solid gray;
    background-color: rgb(56, 104, 172);
    color: white;
    height: 200px;
}

.rating {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 3px solid grey;
    border-bottom: 3px solid gray;
    background-color: rgb(56, 104, 172);
    color: white;
    height: 200px;
}

.price {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 3px solid gray;
    background-color: rgb(56, 104, 172);
    color: white;
    height: 200px;
}

.date {
    border-top: 1px solid black;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    background-color: rgb(56, 104, 172);
    color: white;
    height: 200px;
}

#bor {
    display: none;
    border: 1px solid;
    border-radius: 0;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

.marg {
    margin-left: 20px;
}


#games {
    margin: 50px 0;
    padding-bottom: 200px;
}

.games {
    border: 1px solid black;
    padding: 10px 10px;
    color: white;
    background-color: #12d4d4;
}

.games1 {
    border: 1px solid black;
    padding: 10px 10px;
    margin: 10px 0 0 0;
    color: white;
    background-color: #10b1b1; 
}

.image img {
    border:2px solid #fff;
    background: url(img/tiger.png) no-repeat;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: -10px 10px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: -10px 10px 5px rgba(0, 0, 0, .5);
    -khtml-box-shadow: -10px 10px 5px rgba(0, 0, 0, .5);
}