body{
    /*background: url("background.jpg") ;
    background-repeat: no-repeat;*/
    width:100%;
    height:400px;
    background: linear-gradient(-45deg, #9a22a7 , rgba(252,176,69,1), #E73C7E,#23A6D5);
    background-size: 400% 400%;
    position: relative;
    animation: change_background 10s ease-in-out infinite;
}

@keyframes change_background{
    0%{
        background-position: 1 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.word{
    font-size: 6rem;
}
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    left: 25%;
    top:100px;
    align-items: center;
    font-size: 6rem;
    color: rgb(167, 156, 156);
    position: relative;
    width: 800px;
    height: 130px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background: white;
    /*background: linear-gradient(30deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);*/
    opacity: 0.85;
}
.box:before{
    content: "";
    position: absolute;
    top: -2px;
    left:-2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -2;
    filter: blur(40px);
}
.box:after{
    content: "";
    position: absolute;
    top: -2px;
    left:-2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -2;
    filter: blur(50px);
}
.box:before, .box:after{
    background: linear-gradient(45deg,#89ff00,yellow,#89ff00);
}
.button{
    text-decoration: none;
    position: absolute;
    left: 50%;
    top:150%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background: linear-gradient(60deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    width:300px;
    height: 100px;
    line-height: 90px;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 50px;
    z-index: -1;
}
.button::before{
    content:"";
    position: absolute;
    left:-5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: linear-gradient(60deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 50px;
    filter:blur(20px);
    z-index: -1;
}
.button:hover::before{
    animation: func 8s infinite;
}
.button:hover{
    animation: func 8s infinite;
}
@keyframes func{
    100%{
        background-position: -400% 0;
    }
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.navs{
    list-style: none;
}

.navs li{
    display: inline-block;
    padding: 0px 70px;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    font-size: 46px;
    color: white;
    
}

.navs li a{
    transition: all 0.3s ease 0s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.navs li a:hover{
    color: #0088a9;
}
